body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-image: url(../Assets/A4.jpg);
  background-size: cover;
}

.profile-card {
  display: flex;
  border: 2px solid #ccc;
  border-radius: 10px;
  background:linear-gradient(rgb(146, 207, 227), rgb(206, 127, 66));
  width: 800px;
  background-image: url(../Assets/A5.jpg);
    border-radius: 10px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 1.6);
  padding: 20px;
  box-shadow: 0 4px 80px rgba(0, 0, 0, 0.7);
}

.image-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.placeholder {
  width: 150px;
  height: 150px;
  background-color: #ddd;
  border: 2px dashed #ccc;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #666;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
  border: 2px solid #ccc;
}

.file-input {
  margin-top: 10px;
}

.info-section {
  color: white;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-group input:focus,
.input-group select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
